body {
    padding: 1em;
    overflow: scroll;
    height: 100vh;
    font-size: medium;
}

#profileControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

select {
    flex-grow: 1;
    font-size: medium;
}

#profileButtonsSection {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    width: 80px;
    margin: 0 5px;
    font-size: small;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: x-large;
}

h2 {
    font-size: large;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    padding: 0.5em;
    margin: 0em;
}

a {
    color: inherit; 
    text-decoration: none;
} 


button {
    margin: 0.5em 0;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    width: auto;
    min-width: 100px;
    box-sizing: border-box;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 0 14px;
    justify-content: center;
    opacity: 1;
    user-select: none;
    border: 1px solid rgba(50,55,63,0.3);
    background-color: #ffffff;
    color: #2D6BDC;
}

table {
    border: 1px solid rgba(50,55,63,0.3);
    width: 100%;
}